body {
  background-color: rgba(1, 0, 0, 1);
color: white;
font-family: "Inter";
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.card {
  display: flex;
  border-radius: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img {
  width: 1000px;
  height: auto;
}

.page-name {
  height: 170px;
  width: 100%;
  padding-bottom: 40px;
}

button {
  width: 100%;
  padding: 16px 8px;
  border-radius: 8px;
  font-family: "Inter";
  font-weight: 700;
  font-size: 18px;
}

button:hover {
  border: 3px solid rgba(254, 246, 245, 1);
  background-color: black;
  color: white;
}

label {
  font-size: 18px;
  font-weight: 700;
  font-family: "PT Sans";
  color: rgba(255, 255, 255, 1);
  line-height: 24px;
}

p {
  font-weight: 400;
  font-family: "Inter";
  font-size: 14px;
  color: rgba(148, 148, 148, 1);
  letter-spacing: 0px;
  line-height: 20px;
}

input {
  background-color: rgba(25, 25, 25, 1);
  border-radius: 8px;
  padding: 16px;
  font-family: "Inter";
  color: rgba(212, 212, 212, 1);
  font-size: 18px;
  width: 63%;
  border: none;
}
.klaida {
  outline: 2px solid red !important;
}

button:disabled {
  cursor: default;
  pointer-events: none;
  opacity: 0.6;
}

#toCurrency {
  color: rgba(212, 212, 212, 1);
  font-weight: 400;
  font-size: 18px;
  font-family: "Inter";
  padding: 16px;
  border-radius: 8px;
  background-color: rgba(25, 25, 25, 1);
  width: 70%;
  border: none;
}

#fromCurrency {
  color: rgba(212, 212, 212, 1);
  font-weight: 400;
  font-size: 18px;
  font-family: "Inter";
  padding: 16px;
  border-radius: 8px;
  gap: 16px;
  background-color: rgba(25, 25, 25, 1);
  margin-left: 20px;
  border: none;
}

.button-group {
  display: flex;
  align-items: center;
}

.active-pink {
  background-color: rgba(248, 145, 139, 1) !important;
  color: black;
}
#rodytiBtn:active {
  background-color: rgba(248, 145, 139, 1);
  color: black;
}
